input,
button,
textarea,
select {
	appearance: none;

	width: 100%;
	//flex: 1 1 auto;

	min-height: var(--formBaseSize);
	color: var(--clrText);
	background: var(--formPrimaryClrBg);

	padding: var(--formBasePadding);
	border-radius: var(--cornerRadius);
	outline: none;
	border: none;
	transition: var(--transitionPrimary);
	filter: none;

	&:focus {
		box-shadow: var(--formFocusShadow);
	}

	&:hover {
		filter: var(--filterHover);
	}
}

fieldset {
	margin: 0;
	padding: var(--baseGap);
	border-radius: var(--cornerRadius);
	border: var(--formBorderMain);


	legend {
		display: inline-block;
		padding: var(--formBasePadding);
		margin-left: calc(0px - var(--formBasePadding));


	}
}

label {
	display: inline-block;
	vertical-align: baseline;
	cursor: pointer;
	margin: var(--formBaseSize) 0 0;

	&:first-of-type {
		margin-top: 0;
	}
}

input[type="text"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list],
textarea,
select {
	background: none;
	//border-radius: var(--cornerRadius) var(--cornerRadius) 0 0;
	border-radius: 0;
	border-bottom: var(--formBorderMain);

	&:focus,
	&:hover {
		box-shadow: none;
		border-bottom: var(--formFocusBorder);
	}
}

input[list]::-webkit-calendar-picker-indicator {
	opacity: 0;
	cursor: pointer;
}

input[list],
select {
	--h: calc(max(var(--baseLineHeight) + var(--formBasePadding) * 2, var(--formBaseSize)));
	cursor: pointer;
	background-image: linear-gradient(45deg, transparent 50%, var(--formPrimaryClr) 50%),
		linear-gradient(135deg, var(--formPrimaryClr) 50%, transparent 50%);
	//linear-gradient(to right, var(--formPrimaryClrBg), var(--formPrimaryClrBg));
	background-position: calc(100% - var(--h) * .5) calc(var(--h) * .4 + 2px),
		calc(100% - var(--h) * .5 + 5px) calc(var(--h) * .4 + 2px);
	//100% 0;
	background-size: 5px 5px,
		5px 5px;
	//var(--formBaseSize) 100%;
	background-repeat: no-repeat;
}

textarea {
	border: var(--formBorderMain);

	&:focus {
		border: var(--formFocusBorder);
	}
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	border: 0;
	border-radius: var(--cornerRadiusPill);
	outline: none;
	transition: var(--transitionPrimary);
	cursor: pointer;

	padding: 0.5rem 1.5rem;

	&:hover {
		background: var(--formPrimaryClr);
	}
}

progress {
	-webkit-appearance: none;
	width: 100%;

	&::-webkit-progress-bar,
	&::-webkit-progress-value {
		height: calc(var(--formBaseSize) * .5);
		border-radius: var(--cornerRadiusPill);
		background: var(--formPrimaryClrBg);
	}

	&::-webkit-progress-value {
		background: var(--formPrimaryClr);
	}
}

meter {
	width: 100%;
	border: none;

	&::-webkit-meter-bar,
	&::-webkit-meter-value {
		border: none;
		height: calc(var(--formBaseSize) * .5);
		border-radius: var(--cornerRadiusPill);
		background: var(--formPrimaryClrBg);
	}
}

input[type="textarea"] {
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 50%;
		height: 140%;
		border: var(--formActiveBorderCheckbox);
		border-top: 0;
		border-left: 0;
		left: 45%;
		top: -50%;
		transform: rotate(var(--r, 20deg)) scale(0);
	}
}

input[type="range"] {
	-webkit-appearance: none;
	min-height: auto;
	height: var(--borderWidth);
	cursor: pointer;
	background: var(--formPrimaryClrBg);
	padding: 0;
	margin: calc(var(--formBaseSize) * .5 + var(--borderWidth) * .5) 0;

	&:focus {
		box-shadow: none;
	}

	&::-webkit-slider-thumb {
		--s: calc(var(--formBaseSize) * 1.25);
		-webkit-appearance: none;

		height: var(--s);
		width: var(--s);
		border-radius: 50%;
		background: var(--formPrimaryClrBg);
		cursor: pointer;
		transition: var(--transitionPrimary);

		&:hover {
			background: var(--formPrimaryClr);
		}

		&:active {
			transform: scale(1.1);
		}
	}
}

input[type="color"] {
	border-radius: 50%;
	height: var(--formBaseSize);
	width: var(--formBaseSize);
	padding: 0;
	cursor: pointer;
	-webkit-appearance: none;

	&::-webkit-color-swatch-wrapper {
		padding: 0;
	}

	&::-webkit-color-swatch {
		border: none;
		border-radius: 50%;
	}
}

input[type="checkbox"],
input[type="radio"] {
	appearance: none;
	width: var(--formBaseSize);
	height: var(--formBaseSize);
	outline: none;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin: 0;
	cursor: pointer;
	border: var(--brdr, var(--formBorderMain));
	background: var(--bg, var(--formPrimaryClrBg));
	transition: var(--transitionPrimary);

	&:after {
		content: '';
		display: block;
		position: absolute;
		transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
	}

	&:checked {
		--bg: var(--formActiveClrBg);
		--brdr: var(--formActiveBorder);
		--d-o: 0.3s;
		--d-t: 0.6s;
		--d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
	}

	&:disabled {
		--bg: var(--formDisabledClrBg);
		--brdr: var(--formDisabledBorder);
		cursor: not-allowed;
		opacity: 0.9;

		&:checked {
			--bg: var(--formDisabledClrBg);
			--brdr: var(--formDisabledBorder);
		}

		&+label {
			cursor: not-allowed;
		}
	}

	&:hover {
		&:not(:checked) {
			&:not(:disabled) {
				--brdr: var(--formHoverBorder);
			}
		}
	}

	&:not(.switch) {
		&:after {
			opacity: var(--o, 0);
		}

		&:checked {
			--o: 1;
		}
	}
}

input[type="checkbox"] {
	&:not(.switch) {
		border-radius: var(--cornerRadius);

		&:after {
			width: 50%;
			height: 140%;
			border: var(--formActiveBorderCheckbox);
			border-top: 0;
			border-left: 0;
			left: 45%;
			top: -50%;
			transform: rotate(var(--r, 20deg)) scale(0);
		}

		&:checked {
			--r: 40deg;

			&:after {
				transform: rotate(var(--r, 20deg)) scale(1);
			}
		}
	}

	&.switch {
		width: calc(var(--formBaseSize) * 1.75);
		border-radius: var(--cornerRadiusPill);

		&:after {
			--w: calc(var(--formBaseSize) * .5);
			left: var(--w);
			top: 50%;
			border-radius: 50%;
			width: var(--w);
			height: var(--w);
			background: var(--formPrimaryClr);
			transform: translateY(-50%) translateX(calc(-50% + var(--x, calc(0rem - var(--borderWidth)))));
		}

		&:checked {
			--bg: var(--formActiveClr);
			--x: calc(var(--formBaseSize) * 0.75 - var(--borderWidth));
			border-color: var(--formActiveClr);

			&:after {
				background: var(--formActiveClrBg);
			}

		}

		&:disabled {
			&:not(:checked) {
				&:after {
					opacity: 0.6;
				}
			}
		}
	}
}

input[type="radio"] {
	border-radius: 50%;

	&:after {
		left: 50%;
		top: 50%;
		border-radius: 50%;
		width: calc(var(--formBaseSize) * .5);
		height: calc(var(--formBaseSize) * .5);

		border-radius: 50%;
		background: var(--formActiveClr);
		opacity: 0;
		transform: translateY(-50%) translateX(-50%) scale(var(--s, 0));
	}

	&:checked {
		--s: .8;
	}
}